* {
  margin: 0px;
  padding: 0px;
  background-color: rgb(252, 252, 449, 0.185);
}

.German-flag {
  margin: auto;
  width: auto;
  height: 300px;
  width: 600px;
  border-width: 600px;
  border: 1px solid black;
}

#top {
  height: 100px;
  width: 600px;
  margin: auto;
  background-color: black;
}

#middle {
  height: 100px;
  width: 600px;
  margin: auto;
  background-color: #dd0000;
}

#bottom {
  height: 100px;
  width: 600px;
  margin: auto;
  background-color: #ffce00;
}

.German-flag:hover #top {
  background-color: #c8102e;
}
.German-flag:hover #middle {
  background-color: #ffffff;
}
.German-flag:hover #bottom {
  background-color: #00843d;
}

.French-flag {
  margin: auto;
  width: auto;
  height: 300px;
  width: 600px;
  border-width: 600px;
  border: 1px solid black;
}

#left {
  height: 300px;
  width: 200px;
  margin: auto;
  float: left;
  background-color: #0055a4;
}

#middle2 {
  height: 300px;
  width: 200px;
  margin: auto;
  float: left;
  background-color: #ffffff;
}

#right {
  height: 300px;
  width: 200px;
  margin: auto;
  float: left;
  background-color: #ef4135;
}

.French-flag:hover #left {
  background-color: #169b62;
}
.French-flag:hover #middle2 {
  background-color: #ffffff;
}
.French-flag:hover #right {
  background-color: #ff883e;
}
